<div class="section mt20">
    <div class="inner-section">
        <div class="box-12">
            <div class="images-withtext images-items">
                <img src="assets/images/story-slider.jpg">
                <div class="slider-text">
                    <h5>The Senate health bill is a scathing indictment of the Republican Party</h5>
                    <div class="box-pertext">
                        <div><span class="fa fa-bullseye"></span>82%</div>
                        <div><span class="fa fa-pencil"></span>93%</div>
                        <div><span class="fa fa-comment-o"></span>12%</div>
                    </div>
                    <h6>Coutesy: bbc.com</h6>
                    <a href="#">+10 more sources</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section">
    <div class="inner-section">
        <div class="box-12">
            <ul class="colors-box">
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/trump.jpg')"></div>
                </li>
                <li class="box-darkgreen">
                    <span class="triangle-left"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Trump Defiant as pressure grows</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Stories by bbc.com</p>
                            <a href="#">+22 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/nadal.jpg')"></div>
                </li>
                <li class="box-semigreen">
                    <span class="triangle-left"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Nadal's style evolution</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li class="box-purple">
                    <span class="triangle-right"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Trump Defiant as pressure grows</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/trump.jpg')"></div>
                </li>
                <li class="box-darkred">
                    <span class="triangle-right"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Nadal's style evolution</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/nadal.jpg')"></div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/trump.jpg')"></div>
                </li>
                <li class="box-darkgreen">
                    <span class="triangle-left"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Trump Defiant as pressure grows</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Stories by bbc.com</p>
                            <a href="#">+22 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/nadal.jpg')"></div>
                </li>
                <li class="box-semigreen">
                    <span class="triangle-left"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Nadal's style evolution</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li class="box-purple">
                    <span class="triangle-right"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Trump Defiant as pressure grows</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/trump.jpg')"></div>
                </li>
                <li class="box-darkred">
                    <span class="triangle-right"></span>
                    <div class="box-texting">
                        <div class="box-texting-in">
                            <h3>Nadal's style evolution</h3>
                            <div class="box-pertext">
                                <div><span class="fa fa-bullseye"></span>82%</div>
                                <div><span class="fa fa-pencil"></span>93%</div>
                                <div><span class="fa fa-comment-o"></span>12%</div>
                            </div>
                            <p>Courtesy: bbc.com</p>
                            <a href="#">+10 other sources</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box-imgbg" style="background: url('assets/images/nadal.jpg')"></div>
                </li>

            </ul>
        </div>
    </div>
</div>



<div class="news-section">
    <div class="section">
        <div class="inner-section">
            <div class="box-10 box-offset-1 full-780">
                <div class="featured-box">
                    <h3>23 Source</h3>
                    <ul class="news-listing-source">
                        <li>
                            <a href="#">
                                <img src="assets/images/news/kushner.jpg">
                                <p>
                                    Kushner heads to Jerusalem to talk peace
                                </p>
                                <div class="list-percent-div">
                                    <div><span class="fa fa-comment-o"></span>12%</div>
                                    <div><span class="fa fa-bullseye"></span>82%</div>
                                    <div><span class="fa fa-pencil"></span>93%</div>
                                    <ul class="list-courtesy-div">
                                        <li>Courtesy: <strong>bbc.com</strong></li>
                                        <li>*10 other sources</li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/news/guns.jpg">
                                <p>
                                    Guns kill nearly 1300 US kids every year
                                </p>
                                <div class="list-percent-div">
                                    <div><span class="fa fa-comment-o"></span>12%</div>
                                    <div><span class="fa fa-bullseye"></span>82%</div>
                                    <div><span class="fa fa-pencil"></span>93%</div>
                                    <ul class="list-courtesy-div">
                                        <li>Courtesy: <strong>bbc.com</strong></li>
                                        <li>*10 other sources</li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/news/airbus.jpg">
                                <p>
                                    Take that, Airbus: Boeing's Bigger 737 Max
                                </p>
                                <div class="list-percent-div">
                                    <div><span class="fa fa-comment-o"></span>12%</div>
                                    <div><span class="fa fa-bullseye"></span>82%</div>
                                    <div><span class="fa fa-pencil"></span>93%</div>
                                    <ul class="list-courtesy-div">
                                        <li>Courtesy: <strong>bbc.com</strong></li>
                                        <li>*10 other sources</li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/news/baby-born.jpg">
                                <p>
                                    Baby born on plane gets free flights for life
                                </p>
                                <div class="list-percent-div">
                                    <div><span class="fa fa-comment-o"></span>12%</div>
                                    <div><span class="fa fa-bullseye"></span>82%</div>
                                    <div><span class="fa fa-pencil"></span>93%</div>
                                    <ul class="list-courtesy-div">
                                        <li>Courtesy: <strong>bbc.com</strong></li>
                                        <li>*10 other sources</li>
                                    </ul>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <div class="text-right">
                        <a href="#" class="news-viewmore" title="View More">
                            View More <span class="fa fa-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>