<div>
    <img src="assets/images/news-banner.jpg" style="width: 100%;">
</div>
<section class="">
    <div class="section">
        <div class="inner-section">
            <div class="box-8 news-detleft full-600">
                <h5>Uber has been plagued with scandals that led to CEO Travis Kalanick's forced resignation. Here's what you can learn from the fallout - and how to spot toxicity in your own workplace.</h5>

                <ul class="social-listing">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-youtube"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
                    <li><a href="#" class="fa fa-envelope"></a></li>
                </ul>

                <p>
                    safeguarded the company from immense turmoil. Because today, at the pressure of investors, Kalanick resigned as CEO.
                </p>
                <div class="image-resizer">
                    <img src="assets/images/news-inner.jpg" style="width: 100%;">
                </div>
                <p>
                    Travis Kalanick stepped down as CEO after five major Uber investors demanded his immediate resignation (Credit: Alamy)
                </p>
                <p>
                    His dramatic departure follow months of <span>scandals about sexual harassment, macho culture and the departure of senior executives,</span> and is a snapshot of one of the most stunning CEO roller-coaster stories in modern business history.
                </p>

                <h5>
                    Uber's name has now become synonymous with many of the hallmarks of toxic work culture.
                </h5>
                <p>
                    Unfortunately for the <span>$70bn California company,</span> its name has now become synonymous with many of the hallmarks of toxic work culture: <span>HR fiascos, ignoring employee benefits,</span> name and <span>arrogant 'bro' culture</span> that perpetuates sexism and reckless decision-making in the tech industry.
                </p>
            </div>


            <div class="box-4 full-600">
                <div class="news-detright">
                    <h4>News Source: <strong>BBC News</strong></h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                    </p>
                    <hr>
                    <h4>Affiliations:</h4>
                    <img src="assets/images/flag-design.png">
                    <hr>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                    </p>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                    </p>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                    </p>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>

<br><br>
<div class="flight-banner">
    <a href="#">
        <img src="assets/images/ads-flight.jpg">
    </a>
</div>